body{background-color: grey;}


h1{position: relative;;font-size: 30px;background-color:red;width:200px;height:35px; left:80px;top:-80px;}

.menubar{display:flex;justify-content: flex-end; gap:70px;margin:0px; ;padding:40px;font-size:20px; list-style-type:none; background-color: #008000; width: auto;height:20px;font-weight:bold;}

.My-profile{display:flex;justify-content: flex-start;flex-direction: column;background-color: aqua;height:120px;width:auto;font-size: 20px;}
.My-profile > p {font-size: 15px;position:relative;top:-20px;}
 





