body{background-color: grey;}

h1{position: relative;font-size: 30px;background-color:pink;width:200px;height:35px; left:80px;top:-80px;}

.menubar{display:flex;justify-content: flex-end; gap:70px;margin:0px; ;padding:40px;font-size:20px;color:black; list-style-type:none; background-color: #008000; width: auto;height:20px;font-weight:bold;}

.first-background-image {position:relative;}
.Welcome {position:relative;float:right;right:60px; width:350px;height:30px;padding:10px 10px 10px 10px;background-color: green;color:pink;font-size: 25px;top:-150px;text-align: end; }
.first-image {width: 1220px;height:180px; float:left; position:relative;top:-85px;float:left; left:-10px; }

.vertical-line{border-left: 6px solid pink;height:70px;position:relative;left:400px;top: -90px;}
h2{position: relative;left:260px;top:-35px;font-size: 30px;}
.profile {font-size: 17px;position:relative;top: -100px;text-align: left;float:right;right:45px;justify-content: right;inline-size: 680px;}


.vertical-line2{border-left: 6px solid pink;height:550px;position:relative;left:400px;top: -120px;}
h3 {position: relative;left:310px;top:-55px;font-size: 30px;}
.work-image{width:660px;height: 250px;position: relative;float:left; left:475px;top:-670px;border: 6px solid green;}
.first-application {background-color: #008000;position:relative;float:left;left:-192px;font-size: 25px;top:-500px;border:6px solid green;}

.container-image2{position: relative;}
.work-image2 {width:320px;height:120px;position: relative;float:left;left:-38px;top:-400px;border:6px solid green;}
.second-application{position:relative;float:left;left:144px;background-color: #008000;border:6px solid green;width:80px;top:-470px;}

.container-image3{position: relative;}
.work-image3{width:320px;height:120px;position: relative;float:left;left:-288px;top:-532px;border:6px solid green;}
.third-application{position:relative;float:left;left:-620px;background-color: #008000;border:6px solid green;width:90px;top:-470px;}

.container-image4{position:relative;}
.work-image4{width:320px;height:120px;position: relative;float:left;left:476px;top:-522px;border:6px solid green;}
.fourth-application{position:relative;float:left;left:150px;background-color: #008000;border:6px solid green;width:90px;top:-460px;}

.container-image5{position:relative;}
.work-image5{width:320px;height:120px;position: relative;float:left;left:380px;top:-522px;border:6px solid green;}
.fifth-application{position:relative;float:left;left:50px;background-color: #008000;border:6px solid green;width:90px;top:-460px;}

.vertical-line3{border-left: 6px solid pink;height:70px;position:relative;left:400px;top: -530px;}
h4{width:250px;position: relative;left:230px;top:-455px;font-size:30px;}
.contact{font-size: 17px;position:relative;top:-610px;text-align:justify;float:right;right:435px;}

.vertical-line4{border-left: 6px solid pink;height:70px;position:relative;left:400px;top: -590px;}
h5{width:250px;position: relative;top:-510px;left:278px;font-size: 30px;}
.resume-paragraph{font-size: 17px;position:relative;text-align: justify;top:-670px;right:-435px;}
.mypdf {position:relative;top:-708px;float:right; right:300px;}

